.switch-b {
	@at-root {
		.wpug-network-is-live #wpadminbar .switch-b:hover {
			color: #F0F0F1;
		}

		#wp-admin-bar-wpug_network_sandbox_link {
			.env ~ .env::before,
			.env:first-child::after {
				content: attr(title);
				display: none;
				white-space: nowrap;
				z-index: 3;
				padding: 0 8px;
				position: absolute;
				top: 100%;
			}


			.env:first-child::after {
				right: -8px;
			}

			.env ~ .env::before {
				left: -8px;
			}
		}

		.wpug-network-is-sandbox #wp-admin-bar-wpug_network_sandbox_link .env {
			&:first-child::after,
			& ~ .env::before {
				$base-color: #FF0;
				color: #000;
				background-color: darken( $base-color, 7% );
			}
		}

		.wpug-network-is-live #wp-admin-bar-wpug_network_sandbox_link .env {
			&:first-child::after,
			& ~ .env::before {
				$base-color: #23282D;
				color: #FFF;
				background-color: darken( $base-color, 7% );
			}
		}

		#wp-admin-bar-wpug_network_sandbox_link .env:first-child:hover::after,
		#wp-admin-bar-wpug_network_sandbox_link .env ~ .env:hover::before {
			display: block;
		}
	}

	/* The switch - the box around the slider */
	.env {
		vertical-align: bottom;
		margin: 0 6px;
		display: inline-block;
		position: relative;
	}

	.switch {
		position: relative;
		display: inline-block;
		width: 50px;
		height: 20px;
	}

	/* Hide default HTML checkbox */
	.switch input {
		opacity: 0;
		width: 0;
		height: 0;
	}

	/* The slider */
	.slider {
		position: absolute;
		cursor: pointer;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background-color: #0C0;
		transition: 0.4s;
		overflow: hidden;
	}

	.slider:before {
		position: absolute;
		content: "";
		height: 16px;
		width: 16px;
		left: 2px;
		bottom: 2px;
		background-color: #FFF;
		transition: 0.4s;
		z-index: 1;
	}

	.slider::after {
		content: "";
		display: block;
		position: absolute;
		left: 0;
		right: 0;
		top: 0;
		bottom: 0;
		pointer-events: none;
	}

	input:checked + .slider {
		background-color: #D00;
	}

	input:focus + .slider {
		box-shadow: 0 0 1px #2196F3;
	}

	input:checked + .slider:before {
		transform: translateX(30px);
	}

	/* Rounded sliders */
	.slider.round {
		border-radius: 20px;
	}

	.slider.round:before {
		border-radius: 50%;
	}

}
