.wpug-network-is-sandbox {
	#wpadminbar #wp-admin-bar-wpug_network_sandbox_link {
		svg {
			margin-right: 4px;
			vertical-align: middle;

			&,
			#browser {
				width: 28px;
				height: 22px;
			}

			#browser {
				opacity: 0.6;
			}

			#browser-screen {
				width: 24px;
				height: 15px;
			}

			#lightbulb,
			#globe {
				opacity: 0.9;
			}
		}

		&:hover {
			svg {
				#browser,
				#lightbulb,
				#globe {
					opacity: 1;
					fill: #72AEE6;
				}
			}
		}
	}
}
