.users_page_new-user-onboarding {
	font-size: 16px;

	#wpug_user_onboarding_form {
		&,
		& p,
		.form-table,
		.form-table td,
		.form-table td p,
		.form-table th {
			font-size: 16px;
		}

		td {
			vertical-align: top;
		}
	}

	.wpug-policy-user-body th:after {
		content: "Policy for website users.";
		display: block;
		font-weight: normal;
		margin-top: 1rem;
		font-size: 0.9em;
	}

	.wpug-policy-visitor-body th:after {
		content: "Policy for website visitors.";
		display: block;
		font-weight: normal;
		margin-top: 1rem;
		font-size: 0.9em;
	}

	.wpug-policy-copyright-body th:after {
		content: "Policy regarding copyrighted, patented, or trademarked material.";
		display: block;
		font-weight: normal;
		margin-top: 1rem;
		font-size: 0.9em;
	}

	.wpug-policy-pii-body th:after {
		content: "Policy regarding PII (Personally Identifying Information).";
		display: block;
		font-weight: normal;
		margin-top: 1rem;
		font-size: 0.9em;
	}

	.wpug-onboarding-email-headers th:after {
		content: "Separate each header statement with a semicolon ; character.";
		display: block;
		font-weight: normal;
		margin-top: 1rem;
		font-size: 0.9em;
	}

	#wpbody-content input.settings-text {
		width: 100%;
	}

	h2#template_tags {
		$space: 0.5rem;
		margin: $space 0 $space -#{$space};
		padding: $space 0 $space $space;

		&:target {
			border: 1px dashed #00F;
		}
	}

	#template_tags_table {
		td:first-child {
			padding-right: 1rem;
			text-align: right;
		}
	}
}
