/* Breakpoints
--------------------------------------------- */
$break-medium: map-get($breakpoints, medium);
$break-large: map-get($breakpoints, large);
$break-xlarge: map-get($breakpoints, xlarge);
$break-xxlarge: map-get($breakpoints, xlarge);
$break-medium: map-get($breakpoints, medium);
$breakpoint-classes: (small medium);
