@mixin switch($width: 54px, $height: 24px, $text-color: #F0F0F1, $icon-color: #F0F0F1) {
	$buffer: 2px;
	$font-size: 13px !default;
	$drop-shadow: 8px 8px 0 rgba(0, 0, 0, 0.33) !default;
	font-size: $font-size;
	display: inline-block;
	margin: 0;
	padding: 0;
	border: 0 none;

	a {
		color: #FFF;
	}

	// Label text colors.
	.c-toggle {
		label:first-child {

		}

		label ~ label {

		}
	}

	.hidden {
		display: none;
	}

	.c-toggle {
		label {
			display: inline-block;
			height: $height;
			line-height: $height;
			cursor: pointer;
			position: relative;

			&:first-child {
				padding-right: 8px;

				&::after {
					left: 0;
					right: 8px;
				}
			}

			~ label {
				padding-left: 8px;

				&::after {
					left: 8px;
					right: 0;
				}
			}

			&::after {
				content: "";
				position: absolute;
				bottom: 6px;
				height: 0;
				opacity: 0;
				transition: all 0.25s;
				border-bottom: {
					width: 2px;
					style: dotted;
				}
			}

			&:hover::after {
				opacity: 1;
			}
		}

		input[type="radio"] {
			display: inline-block;
			width: $width - $height + $buffer + 1px;
			height: $height;
			opacity: 0;
			position: absolute;
			top: 0;
			margin: 0;
			z-index: 1;
			cursor: pointer;
			border-width: 0;

			&:first-child {
				left: 0;

				+ input {
					right: 0;
				}
			}

			&:checked {
				width: $height - $buffer - 1px;
			}

			+ input:checked {
				~ .c-toggle__switcher {
					right: 0;
					left: 34px;
				}

				~ .c-toggle__background {
					background-color: #D00;
					border-color: #D00;
					box-shadow: 0 0 0 1px inset #D00;
				}
			}

			&:focus,
			&:hover {
				~ .c-toggle__background {
					box-shadow: 0 0 1px 1px inset $text-color;

					svg rect {
						stroke-dasharray: 3, 1;
						width: 52px;
						height: 22px;
						x: 2;
						y: 2;
					}
				}
			}
		}
	}

	.c-toggle__wrapper {
		display: inline-block;
		vertical-align: middle;
		width: $width;
		height: $height;
		border-radius: $height;
		position: relative;
	}

	.c-toggle__switcher {
		display: block;
		position: absolute;
		top: 4px;
		left: 4px;
		right: 100%;
		width: 14px;
		height: 14px;
		border-radius: 50%;
		background-color: #FFF;
		transition: all 0.1s ease-out;
		z-index: 2;
		border: 1px solid #000;
		pointer-events: none;

		&::after {
			$size: 10;

			content: "";
			display: block;
			width: #{$size}px;
			height: #{$size}px;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
		}
	}

	.c-toggle__background {
		display: block;
		position: absolute;
		top: 3px;
		left: 3px;
		width: 48px;
		height: 18px;
		z-index: 0;
		border-radius: 20px;
		box-sizing: border-box;
		transition: all 0.25s;
		background-color: #0C0;
		box-shadow: 0 0 0 1px inset #000;

		svg {
			position: relative;
			left: -4px;
			top: -4px;

			rect {
				transition: all 0.25s;
				stroke: $text-color;
				width: 50px;
				height: 20px;
			}
		}
	}
}
