@charset "utf-8";

@import "foundation";
@import "settings";
@import "settings_pages";

.nplist a.page-link[href="#"],
.nplist a.page-link[href=""] {
	color: #000;
	cursor: default;
	pointer-events: none;

	~ .action-buttons {
		display: none;
	}
}

.nestedpages {
	.np-bulk-checkbox,
	.np-check-all,
	.np-bulk-form,
	.nestedpages-dropdown > .np-btn.toggle {
		display: none!important;
	}
}
