@charset "utf-8";

@import "foundation";
@import "settings";
@import "switch";
@import "help-panel";
@import "cla_title";

#wpadminbar {
	.cla-title {
		@extend %cla-title;
	}

	.switch-a {
		@include switch();
	}

	// Required for applying switch label hover colors automatically.
	> #wp-toolbar .switch-a span.c-toggle-label:hover,
	> #wp-toolbar .switch-a span.c-toggle-label:hover label:hover,
	> #wp-toolbar .switch-a span.c-toggle__wrapper:hover {
		color: inherit;
	}

	.help-button {
		@include help-panel();

		vertical-align: top;
		line-height: 32px;
	}

	#wp-admin-bar-wpug_network_sandbox_link {
		> .ab-item {
			padding: 0;

			&:after {
				margin-top: 4px;
			}

			&::before,
			&::after {
				content: "";
				display: inline-block;
				height: 24px;
				line-height: 24px;
				border: 1px solid #A7AAAD;
				border-width: 0px 1px 0px 0px;
				float: none;
				position: static;
				padding: 0;
				margin-bottom: 4px;
			}
		}
	}
}
