@charset "utf-8";

@import "foundation";
@import "settings";
@import "switch";
@import "help-button";
@import "cla_title";

.wpug-network-is-sandbox {
	$yellow: #FF0;
	$base-color: $yellow;
	$text-color: #000;
	$icon-color: hsl( hue( $base-color ), 7%, 5% );
	$highlight-color: $yellow;
	$notification-color: #918318;
	$button-color: #918318;
	$menu-collapse-text: #B3B3B3;
	$menu-submenu-focus-text: #000;

	@import "wp-admin/_adminbar.scss";

	#wpadminbar {
		box-shadow: 0 1px 0 #000;

		.cla-title {
			@extend %cla-title;
		}

		.switch-a {
			@include switch($text-color: $text-color, $icon-color: $text-color);

			&::before,
			&::after,
			> fieldset {
				float: left;
			}

			&::before,
			&::after {
				margin-top: 4px;
			}

			.c-toggle label {
				height: 28px;
				line-height: 24px;
				vertical-align: middle;
			}

			.c-toggle__wrapper {
				height: 28px;
			}
		}

		.help-button {
			@include help-button($text-color: $text-color, $icon-color: $text-color);

			float: left;
		}

		#wp-admin-bar-wpug_network_sandbox_link > .ab-item:before,
		#wp-admin-bar-wpug_network_sandbox_help > .ab-item:after {
			content: "";
			display: inline-block;
			height: 24px;
			line-height: 24px;
			border: 1px solid #A7AAAD;
			border-width: 0px 1px 0px 0px;
			float: none;
			position: static;
			padding: 0;
			margin-bottom: 4px;
		}

		#wp-admin-bar-wpug_network_sandbox_link {
			> .ab-item {
				padding: 0;

				&::before {
					margin-right: 8px;
				}
			}
		}

		#wp-admin-bar-wpug_network_sandbox_help > .ab-item {
			padding: 0;

			&:after {
				margin-left: 7px;
				margin-top: 4px;
			}
		}
	}
}
