@charset "utf-8";

@import "foundation";
@import "settings";
// $yellow: #787A00; // WCAG-AA compliant with white text in front.

.wpug-network-is-sandbox {
	$yellow: #FF0;
	$base-color: $yellow;
	$text-color: #000;
	$icon-color: hsl( hue( $base-color ), 7%, 5% );
	// $menu-submenu-text: #000;
	$highlight-color: $yellow; // default: 199deg, 100%, 33%
	$notification-color: #918318;
	$button-color: #918318;
	$menu-collapse-text: #B3B3B3;
	$menu-submenu-focus-text: #000;

	@import "wp-admin/_adminbar.scss";

	#wpadminbar {
		box-shadow: 0 1px 0 #000;

		// User testing, delete when done.
		.wpug-network-sandbox-switch-toggle-style .ab-item {
			color: #000!important;//sass-lint:disable-line no-important
		}
	}
}

#wpadminbar {
	@import "a";
	@import "b";
	@import "c";
	@import "d";

	// User testing, delete when done.
	.wpug-network-sandbox-switch-toggle-style .ab-item {
		color: #F0F0F1!important;//sass-lint:disable-line no-important
	}

	#wp-admin-bar-wpug_network_sandbox_link {
		// User testing, delete when done.
		position: relative;
		z-index: 999999;

		.ab-empty-item > a {
			display: inline-block;
		}
	}
}
