@charset "utf-8";

@import "foundation";
@import "settings";

.wpug-network-is-sandbox {
	$yellow: #FF0;
	$base-color: $yellow;
	$text-color: #000;
	$icon-color: hsl( hue( $base-color ), 7%, 5% );
	$highlight-color: $yellow;
	$notification-color: #918318;
	$button-color: #918318;
	$menu-collapse-text: #B3B3B3;
	$menu-submenu-focus-text: #000;

	@import "wp-admin/_adminbar.scss";
	@import "switch";

	#wpadminbar {
		box-shadow: 0 1px 0 #000;

		.switch-a {
			@include switch($text-color: $text-color);
		}

		// User testing, delete when done.
		.wpug-network-sandbox-switch-toggle-style .ab-item {
			color: #000!important;//sass-lint:disable-line no-important
		}
	}
}

#wpadminbar {
	@import "switch";
	@import "cla_title";

	.cla-title {
		@extend %cla-title;
	}

	.switch-a {
		@include switch;
	}

	// User testing, delete when done.
	.wpug-network-sandbox-switch-toggle-style .ab-item {
		color: #F0F0F1!important;//sass-lint:disable-line no-important
	}

	#wp-admin-bar-wpug_network_sandbox_link {
		// User testing, delete when done.
		position: relative;
		z-index: 999999;

		.ab-empty-item > a {
			display: inline-block;
		}
	}
}
